@model Assig1.ViewModels.CountryDetailViewModel;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div class="container">
    <div class="card mt-5">
        <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.CountryName">
        <div class="card-body">
            <h5 class="card-title">@Model.CountryName</h5>
            <h5 class="card-title">@Model.RegionName</h5>


            <h6>Emissions Data:</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Average Emission</th>
                        <th>Min Emission</th>
                        <th>Max Emission</th>
                        <th>Element</th>
                        <th>Item</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var emission in Model.CountryYearlyEmissions)
                    {
                        <tr>
                            <td>@emission.Year</td>
                            <td>@emission.AverageCountryEmission</td>
                            <td>@emission.MinimumCountryEmission</td>
                            <td>@emission.MaxCountryEmission</td>
                            <td>@emission.ElementName</td>
                            <td>@emission.ItemName</td>

                        </tr>
                    }
                </tbody>
            </table>
            <h6>Temperature Data:</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th>Year</th>
                        <th>Average Temperature</th>
                        <th>Min Temperature</th>
                        <th>Max Temperature</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var temperature in Model.CountryYearlyTemperature)
                    {
                        <tr>
                            <td>@temperature.Year</td>
                            <td>@temperature.AverageCountryTemperature</td>
                            <td>@temperature.MinimumCountryTemperature</td>
                            <td>@temperature.MaxCountryTemperature</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    <div class="container mt-4">
        <a asp-action="Index" asp-controller="Countries" class="btn btn-primary">Back to Country List</a>
    </div>
</div>
@*<div>
    <h4>Country</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Iso3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Iso3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CountryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CountryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Region)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Region.RegionId)
        </dd>
    </dl>
</div>*@
