@model IEnumerable<Assig1.ViewModels.CountryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Country Name
            </th>
            <th>
               Images
            </th>
            <th>
                Region Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var country in Model) {
        <tr>
            <td>
               @country.CountryName
            </td>
            <td>
               @country.ImageUrl
            </td>
            <td>
               @country.RegionName
            </td>
           @* <td>
                <a asp-action="Edit" asp-route-id="@item.CountryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CountryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CountryId">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
