@model IEnumerable<Assig1.ViewModels.CountryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Countries</h1>

<div class="container mt-4">
    <!-- Show the selected region using a Bootstrap panel -->
    @if (!string.IsNullOrEmpty(Model.FirstOrDefault()?.RegionName) && Model.FirstOrDefault()?.RegionName != "N/A")
    {

        <div class="alert alert-info">
            Selected Region: @Model.FirstOrDefault()?.RegionName
        </div>
    }

    <div class="row">
        @foreach (var country in Model)
        {
            <div class="col-md-4">
                <div class="card mb-3">
                    <img src="@country.ImageUrl" alt="@country.CountryName" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">@country.CountryName</h5>
                        <p class="card-text">Region: @country.RegionName</p>
                        <a asp-action="Details" asp-controller="Countries" asp-route-id="@country.CountryId" class="btn btn-outline-success">
                            View Emission & Temperature
                        </a>
                        <a asp-action="Index" asp-controller="Cities" asp-route-countryId="@country.CountryId" class="btn btn-outline-success">
                            View Cities
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="container mt-4">
        <a asp-action="Index" asp-controller="Regions" class="btn btn-primary">Back to Region List</a>
    </div>
    
</div>

@*
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Country Name
            </th>
            <th>
               Images
            </th>
            <th>
                Region Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var country in Model) {
        <tr>
            <td>
               @country.CountryName
            </td>
            <td>
               <img src="@country.ImageUrl"/>
            </td>
            <td>
               @country.RegionName 
            </td>
            <td>
                 
            </td>
        </tr>
}
    </tbody>
</table>


<a href="@Url.Action("Index", "Regions")" class="btn btn-primary">Back to Regions List</a>*@

