@model Assig1.ViewModels.RegionViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Regions</h1>


<form asp-controller="Countries" asp-action="Index" method="get">
    <div class="row">
        <div class="col-md-4">
            <select asp-for="SelectedRegionId" class="form-control">
                <option value="">All Regions</option>
                @foreach (var region in Model.Regions)
                {
                    <option value="@region.RegionId">@region.RegionName</option>
                }
            </select>
            <span asp-validation-for="SelectedRegionId" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <input type="text" name="searchText" class="form-control" placeholder="Enter country name">
            <span asp-validation-for="SearchText" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>


<div class="row">
    @foreach (var region in Model.Regions)
    {
        <div class="col-md-4">
            <a asp-action="Index" asp-controller="Countries" asp-route-id="@region.RegionId" class="card mb-3">
                <img src="@region.ImageUrl" alt="@region.RegionName" class="card-img-top">
                <div class="card-body text-center">
                    <h5 class="card-title">@region.RegionName</h5>
                </div>
            </a>
        </div>
    }
</div>
@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegionName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RegionName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RegionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RegionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RegionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
*@