@model Assig1.ViewModels.CityViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Cities</h1>

<div class="container">
    <div class="card mt-5">
        <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.CountryName">
        <div class="card-body">
            <h5 class="card-title">Country: @Model.CountryName</h5>
            <h5 class="card-title">Region: @Model.RegionName</h5>
            <input type="text" id="searchText" placeholder="Search cities..." />
            <table class="table mt-4">
                <thead>
                    <tr>
                        <th>City Name</th>
                        <th>Earliest Year</th>
                        <th>Latest Year</th>
                        <th>Total Records</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var city in Model.Cities)
                    {
                        <tr>
                            <td>@city.CityName</td>
                            <td>@city.EarliestYear</td>
                            <td>@city.LatestYear</td>
                            <td>@city.AirQualityDataCount</td>
                            <td>
                                <a asp-action="Details" asp-controller="Cities" asp-route-id="@city.CityId" class="btn btn-info">View Air Quality Data</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@*<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CityName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.CountryId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CityId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CityId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CityId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
